
      .chat-message-container{
        flex-grow: 1;
        overflow-y: auto;
        margin-top:20px;
        margin-bottom: 20px;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
      }
